@import "reset.css";
@import "base.css";
@import "layouts.css";
@import "modules.css";
header, footer {
  min-height: 80px;
  text-align: center;
  border: solid 1px blue;
}

h1 {
  padding: 10px;
  font-size: 30px;
}

select {
  margin: 10px;
}

div {
  width: 300px;
  border: 1px solid black;
  margin: 20px;
  text-align: center;
}

div h2 {
  padding: 10px;
}

div p {
  padding: 10px;
}

img {
  max-width: 80%;
  max-height: 80%;
}

section {
  width: 90%;
  border: 1px solid gray;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-template {
  display: none;
}